input:checked ~ ul
{
    display: block;
}

input 
{
    display: none;
}

ul
{
    display: none;
    margin-top:0;
    padding: 0;
    width: 200px;
}
label 
{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}
